.box{
    background: yellow;
    height: 100px;
    width: 100px;
    animation-name: grow;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: 5;
    animation-fill-mode: both;
    
}

@keyframes grow{
    0%{height: 200px; width: 100px; background: red;}

    25%{height: 50px; width: 300px; background: blue;}

    50%{width: 100px; height: 60px; background: orange;}
    90%{height: 0pt; height: 300px; background: purple;}

    75%{height: 400px; width: 400px; background: green; border-radius: 10px;} 
    100%{height: 100px; width: 200px; background: black;}
}